html {
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
}

body {
  background-color: rgb(255, 242, 242);
}

.container {
  margin-top: 5.25rem;
}

.container h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(32, 64, 86);
}

.container h2 {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(74, 74, 74);
}

.container p {
  font-size: 1rem;
  color: rgb(74, 74, 74);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.5rem;
  background-color: rgb(32, 64, 86);
  border: 4px solid #ffffff;
  border-radius: 8px;
  text-align: center;
  font-weight: 900;
  font-size: 7rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
